@media screen and (min-width: 480px) {
    
    .container {width: 410px;}

    /* HEADER */


    /* -- mobile menu styles -- */

    .mob-menu {
padding: 40px;
}

.mob-nav-item {
font-size: 36px;
line-height: calc(40 / 36);

margin-bottom: 40px;}


.mob-contact-item:first-child {
font-size: 36px;
margin-bottom: 40px;}

/* -- MAIN BOX -- */

.main-box {
  padding: 112px 54px;
}

    /* .main-box-name { 
  color: tomato;
 
} */
    
/* ------ CUSTOMERS -----  */
 
.cust-list-item {
  max-width: 190px;
} 

.cust-link {
  padding: 16px 32px;
}




/* -----FOOTER------- */

.input-form {
  width: 396px;
}


/*-- bnt JS MODAL button /*/
.modal {
   width: 392px;
  min-height: 584px;
}

.modal-comment {
  min-height: 120px;}

}